.title_galleri{
    padding: 1rem;
}
.text_coming{
    background-color: rgb(38, 38, 61);
    padding: 4rem;
    text-align: center;
}
.hero-image, .gallery_img {
    aspect-ratio: 2/1;
    object-fit: cover;
    max-width: 600px;
    box-shadow: 0 0 5px black;
    border-radius: 4px;

}
.container_hero_image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem;
}
.text{
    padding: 1rem;
}

.title{
    text-align: center;
}
.gallery{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
}
ul,ol{
    list-style-type: none !important;
}
.gallery_img{
    aspect-ratio: 1/2;
    max-width:  300px;
    transition: scale 450ms linear;
}
.gallery_img:hover{
    transform: scale(.9);
}



